{% include 'top.html' %}

{% load static %}

<body>
{% if messages %}
    {% for message in messages %}
        <div id='blockwin'>
          <p style='color:#000;text-align: center;'>{{ message }}</p>
          
        </div>

{% endfor %}
{% endif %}




<h2> Обмен валюты 
<img src='{% static "img/money/gold.png" %}' width='24' height='24'> 
&#10144; 
<img src='{% static "img/money/sc.png" %}' width='24' height='24'> 
</h2>

{% for i in convertVal %}
<div class='main-info'>
<ul style='padding:7px;margin-left:10px;'>
    <li>{{ i.SilverCount }} <img src='{% static "img/money/sc.png" %}' width='24' height='24'> <br>
    за {{ i.KnightsPrice }} <img src='{% static "img/money/gold.png" %}' width='24' height='24'> 
     <form class='convert-knights' name='swap-knights10' action='{{ i.get_absolute_url }}' method="post" onsubmit="return checkForm(this);">
    {% csrf_token %}
    
    <input type='submit' value='' name='addArmour'>
    
    </form>
    </li>
    <li></li> 

</ul>

 </div>
 {% endfor %}
<!--
 <div class='main-info'>
<ul style='padding:7px;margin-left:10px;'>
    <li>400.000 <img src='{% static "img/money/sc.png" %}' width='24' height='24'> <br>
    за 50 <img src='{% static "img/money/gold.png" %}' width='24' height='24'> 
     <form class='convert-knights' name='swap-knights10' action='{{ armour_link }}' method="post" onsubmit="return checkForm(this);">
    {% csrf_token %}
    
    <input type='submit' value='' name='addArmour'>
    
    </form>
    </li>
    <li></li> 

</ul>

 </div>

 <div class='main-info'>
<ul style='padding:7px;margin-left:10px;'>
    <li>100.000.00 <img src='{% static "img/money/sc.png" %}' width='24' height='24'> <br>
    за 1000 <img src='{% static "img/money/gold.png" %}' width='24' height='24'> 
    <form class='convert-knights' name='swap-knights10' action='{{ armour_link }}' method="post" onsubmit="return checkForm(this);">
    {% csrf_token %}
    
    <input type='submit' value='' name='addArmour'>
    
    </form>
    </li>
    <li></li> 

</ul>

 </div>
-->



{% include 'panel.html' %}
{% include 'footer.html'%}