{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://www.w3.org/1999/XSL/Transform"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<div class='top-block'>
        <img src='{% static 'img/energy.png' %}' width='22' height='22' alt=''> {{ UserEnergy }}
        <img src='{% static 'img/money/gold.png' %}' width='24' height='24' alt=''> {{ UserKnights }}
        <img src='{% static 'img/money/sc.png' %}' width='24' height='24' alt=''> {{ UserSilver }}

    


    <div style="border:1px solid #242;border-radius:4px;margin-top:2px;margin-bottom:2px;" class="expBlock">

     <div class="expline" style="width:{{ progress }}%; max-width: 100%;font-size:9pt;">
    </div>
    </div>

    </div>
    
<div class='cssmenu' style='margin-top:2px;'>
<ul>
   <li><a href='{% url 'mainPage' %}'><span>Главная</span></a></li>
   <li><a href='#'><span>Зелья</span></a></li>
   <li><a href='#'><span>Альянс</span></a></li>
   <li><a href='#'><span>Город</span></a></li>
   <li><a href='#'><span>Задания</span></a></li>
</ul>
</div>
</head>